body
{
  background-color:white;
 
}
nav
{
   font-family: 'Playfair Display', serif;
   font-size:22px;
  position: fixed;
  text-align: center;
  float: right;
}
nav ul li
{
  color:red;
  padding: 15px;
  float: right;

}
.logo
{
  text-align: center;
}
h2
{
  color:red;
  font-family: 'Playfair Display', serif;
}

.row
{ justify-content: center;
  margin: 5%;
}
.btn 
{
  position: relative;
  background: transparent;
  border:2px  red solid;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin-left: 25%;
  padding:8px;
  top: 5%;
  width: 50%;
}
h3
{
  color:red;
  font-family: 'Playfair Display', serif;
}
p
{
  font-family: 'Montserrat', sans-serif;}
.list-group{
  width: 50%;
  text-align: center;
  float: center;
  font-family: 'Montserrat', sans-serif;
}
.we-do
{
  margin-left: 11%;
}
h4{
    color:red;
  font-family: 'Playfair Display', serif;
}

.projects{
  text-align: center;

  }

  .find{
  text-align: center;

}

.map{
  text-align: center;
 
}
.about{
  text-align: center;
}
.about-us{
  justify-content: center;
}
.about-{
  widows: 50%;
}


footer{
  text-align: center;
}
.slideshow-container{
  width: 45%;
  
}

* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
.yourElement {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}